.button {
  font-family: $heading_font;
  background-color: $col_blk;
  color: #fff;
  border: $grid_line;
  padding: 0.5em 0.9em;
  display: inline-block;
  min-width: 24px;
  text-align: center;
  &:active, &:visited {
    color: #fff;
  }
  &:hover {
    background-color: #fff;
    color: $col_blk;
    text-decoration: none;
  }
}
.primary {
  background-color: #fff;
  color: $col_blk;
  &:active, &:visited {
    color: $col_blk;
  }
  &:hover {
    background-color: $col_blk;
    color: #fff;
  }
}
.secondary {
  border-color: #ccc;
  background-color: #fff;
  color: #555;
  &:active, &:visited {
    color: #555;
  }
  &:hover {
    background-color: $col_blk;
    color: #fff;
  }
}
.tertiary {
  border-color: #eee;
  background-color: #eee;
  color: #555;
  &:active, &:visited {
    color: #555;
  }
  &:hover {
    background-color: $col_blk;
    color: #fff;
  }
}
.invert {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
  &:active, &:visited {
    color: #555;
  }
  &:hover {
    background-color: $col_blk;
    color: #fff;
  }
}

