.button {
  font-family: $heading_font;
  background-color: $dark;
  color: #fff;
  border: $grid-line;
  padding: 0.5em 0.9em;
  display: inline-block;
  min-width: 24px;
  text-align: center;
  &:active, &:visited {
    color: #fff;
  }
  &:hover {
    background-color: #fff;
    color: $dark;
    text-decoration: none;
  }
  &:focus {
    color: $dark;
    text-decoration: none;
  }
}
.primary {
  background-color: #fff;
  color: $dark;
  &:active, &:visited {
    color: $dark;
  }
  &:hover {
    background-color: $dark;
    color: #fff;
  }
}
.secondary {
  border-color: $grey-mid-light;
  background-color: #fff;
  color: $grey-mid-dark;
  &:active, &:visited {
    color: $grey-mid-dark;
  }
  &:hover {
    background-color: $dark;
    color: #fff;
  }
}
.tertiary {
  border-color: $grey-light;
  background-color: $grey-light;
  color: $grey-mid-dark;
  &:active, &:visited {
    color: $grey-mid-dark;
  }
  &:hover {
    background-color: $dark;
    color: #fff;
  }
}
.invert {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
  &:active, &:visited {
    color: $grey-mid-dark;
  }
  &:hover {
    background-color: $dark;
    color: #fff;
  }
}

