.cards {
  .card {
    margin-bottom: 3.2em;
  }
  a:hover {
    text-decoration: none;
  }
  .entry-image {
    display: block;
    width: 100%;
    min-height: 185px;
    background: #ddd center center;
    background-size: cover;
  }
  .content-type {
    padding: 0.3em 0;
    color: $col_blk;
  }
  h3 {
    border-top: $grid_line;
    padding-top: 0.6em;
    margin-top: 0;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    color: $col_blk;
  }
  .entry-header h3 {
    padding: 0.6em 0;
  }
}
.hero-card {
  @media (min-width: 768px) {
    .col-md-4 {
      width: 100%;
    }
    .card {
      border-right: $grid_line;
      display: table;
      width: 100%;
      margin-bottom: 1.6em;
      h3 {
        border: none;
      }
      a {
        display: table-row;
      }
      .entry-image, .entry-content {
        display: table-cell;
      }
      .entry-image {
        width: 68%;
        height: 240px;
      }
      .entry-content {
        padding: 0 1em 1em 1em;
      }
    }
  }
}