/* TNA footer styles */

footer {
  background-color: $tna_dark;
  color: #fff;
  a {
    tel {
      color:red;
    }
  }
  a:active, a:link, a:visited {
    color: $tna_yellow;
  }
  a:focus {
    color: #000;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    list-style-type: none;
    padding: 0.25em 0;
    margin: 0;
    border-top: 1px dotted $tna_mid;
  }
  li:first-child {
    border-top: none;
  }
  .footer-base {
    margin: 1.5em 0 0 0;
    border-top: 1px dotted #555;
    padding: 20px 0 0;
    font-size: .85em;
    .ogl {
      img {
        float:left;
        margin: 5px 25px 10px 0;
      }
    }
  }
}