/* TNA footer styles */

footer {
  background-color: #000;
  color: #fff;
  padding: 1.6em;
  a, a:active, a:visited, a:hover {
    color: $col_yellow;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  .footer-col {
    margin-bottom: 1.6em;
    &:first-child {
      min-height: 280px;
      @media (max-width: 767px) {
        height: auto;
      }
    }
    .square-logo {
      max-width: 157px;
      margin-bottom: 23px;
    }
  }
  .footer-base {
    .ogl img {
      float: left;
      margin: 5px 25px 10px 0;
    }
  }
  .opening-times {
    .open_table {
      display: table;
      width: 100%;
      .open_tableRow {
        display: table-row;
      }
      .open_tableHeading {
        display: table-header-group;
      }
      .open_tableCell, .open_tableHead {
        display: table-cell;
        padding: 3px 0;
      }
      .open_tableHeading {
        display: table-header-group;
        font-weight: bold;
      }
      .open_tableFoot {
        display: table-footer-group;
        font-weight: bold;
      }
      .open_tableBody {
        display: table-row-group;
      }
    }
    .open {
      margin-top: 40px;
      @media (max-width: 1024px) {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        float: none !important;
        max-width: 320px;
      }
    }
  }
  .follow-us {
    a {
      display:inline-block;
      img {
        background-color: #000;
        border: 2px solid #fff;
        border-radius: 50%;
        padding: 7px;
        margin: 0 0.2em 0.3em 0;
        width: 40px;
        transition:0.4s ease-in-out;
        -webkit-transition:0.4s ease-in-out;
        -moz-transition:0.4s ease-in-out;
        &:hover {
          background:#555;
        }
      }
    }
  }
}
