/* TNA footer styles */

footer {
  background-image: url("../img/footer-background.png");
  background-color: $tna_dark;
  background-repeat: no-repeat;
  background-position: -6em 20px;
  color: $tna_white;
  a:active, a:link, a:visited {
    color: $tna_yellow;
  }
  .footer-col {
    margin-bottom: 1em;
    p {
      font-size: .9em;
    }
  }
  a:focus {
    color: $tna_dark;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    font-size: .9em;
    list-style-type: none;
    list-style-image: none;
    padding: 0.25em 0;
    margin: 0;
    border-top: 1px dotted $tna_mid;
  }
  li:first-child {
    border-top: none;
  }
  .tel {
    color: $tna_white !important;
    &:focus {
      color: $tna_dark !important;
    }
    &:hover {
      text-decoration: none;
      cursor: text;
    }
  }
  .footer-base {
    margin: 1.5em 0 0 0;
    border-top: 1px dotted $tna_mid;
    padding: 20px 0 0;
    font-size: .85em;
    .ogl {
      img {
        float: left;
        margin: 5px 25px 10px 0;
      }
    }
  }
  address {
    font-family: $tna_heading_font;
    font-style: normal;
    line-height: 1.5;
    font-size: 1.166em;
    margin: 10px 0 10px 0;
  }
}