/* TNA form styles */

fieldset {
  border: 1px solid #ccc !important;
  padding: 1em !important;
  margin-bottom: 2em !important;
}
legend {
  font-family: "Bitter", "Open Sans", arial, serif;
  font-size: 1.6em !important;
  margin-bottom: 10px !important;
  width: auto !important;
  padding: 0 0.5em !important;
}
label {
  font-weight: 400;
}
input[type="submit"] {
  background-color: #008484;
  color: #fff;
  padding: 0.3em .5em;
  border: 0;
  height: 40px; /*this height must match the standalone button class for single field forms */
  margin: 0;
}
input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],
input.width-half,
#Email /* the Email ID has been applied to single-field email sign-up forms */ {
  border: 1px solid #ccc;
  padding: 2px;
  height: 34px;
  text-indent: 5px;
  min-width: 220px;
  width: auto;
}
textarea {
  border: 1px solid #ccc;
  padding: 5px;
}
select {
  border: 1px solid #ccc;
}
input:focus,
input[type=radio]:focus,
input[type=checkbox]:focus,
textarea:focus,
select:focus {
  outline: 3px solid #ebab00;
}
input[type="submit"]:focus,
a.button:focus {
  color: #fff;
  background-color: #111;
  background-color: rgba(0,0,0, 0.75);
}
input[type="submit"]:hover,
a.button:hover {
  color: #222;
  background-color: $tna_yellow;
}
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
  margin-left: 0 !important;
}
.checkbox label,
.radio label {
  padding-left: 38px !important;
}
.checkbox,
.radio {
  .form-error {
    margin-left: 38px !important;
    padding-left: 0.5em;
  }
}
.form-row {
  max-width: 92%;
  margin: 0 auto;
  margin-bottom: 1.5em !important;
  &:before, &:after {
    display: table;
    content: " ";
    clear: both;
  }
  label {
    width: 100% !important;
    margin-right: 0 !important;
  }
  input[type=color],
  input[type=email],
  input[type=number],
  input[type=tel],
  input[type=text],
  input[type=date],
  input[type=url],
  select,
  textarea {
    width: 100% !important;
    max-width: 420px;
    &:disabled {
      background: #eee;
    }
    &:read-only {
      background: #eee;
    }
  }
  textarea {
    height: 120px;
  }
  input[type="submit"] {
    float: right;
  }
  p {
    margin-bottom: 5px;
  }
  .button {
    float: right;
  }
  .form-hint {
    color: #6f777b;
  }
  .optional {
    color: #6f777b;
  }
  .form-error {
    color: #000;
    width: 100%;
    max-width: 420px;
    display: block;
    padding: 3px;
    background: #FFF8D0;
    span {
      font-size: 1.6em;
    }
  }
  .form-warning {
    border: 2px solid #EBAB2C !important;
  }
}
@media (max-width: 768px) {
  .form-row {
    max-width: 100%;
    width: 100%;
    label {
      width: 100%;
      margin-right: 0;
    }
    input[type=text],
    input[type=url],
    input[type=tel],
    input[type=number],
    input[type=color],
    input[type=email],
    textarea,
    select {
      width: 100%;
    }
    input[type="submit"] {
      float: none;
    }
  }
}

