/* TNA global styles */

body {
  font-family: $tna_body_font;
  font-size: 16px;
  background-color: $tna_light;
}

h1, h2, h3, h4 {
  font-family: $tna_heading_font;
  font-weight: 400;
  z-index: 2;
  line-height: 1.6;
}
h1 {
  font-size: 1.75em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.2em;
}

a:active, a:link, a:visited {
  color: $tna_link_col;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  background-color: $tna_yellow;
  outline: 3px solid $tna_yellow_dark;
  color: $tna_dark;
}

address {
  font-family: $tna_heading_font;
  font-style: normal;
  line-height: 1.5;
  font-size: 1.166em;
  margin-bottom: 10px;
}

hr {
  height: 1px;
  border:0;
  margin: 1em 0;
  clear: both;
}

.breather-top {
  padding-top:1em;
}
.breather-bottom {
  padding-bottom:1em;
}
.breather-top-bottom{
  padding-top:1em;
  padding-bottom:1em;
}
.breather {
  padding: 1em;
}

#goTop {
  height: 40px;
  width: 40px;
  padding: 10px;
  text-align: center;
  background: whiteSmoke;
  font-weight: bold;
  color: $tna_white;
  text-decoration: none;
  position: fixed;
  top: 47%;
  right: -100px;
  background: url(../img/icon-32-top.gif) center center no-repeat rgba(0, 0, 0, .66);
  background-size: cover;
  z-index: 5000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
