/* TNA global styles */

.no-margin-top {
  margin-top: 0;
}

.well {
  background-color: $tna_well;
  padding: 20px;
  margin: 0;
  border: none;
  border-radius: 0;
}

a#cookieCutter {
  background: url(../img/close-img.png) 0 2px no-repeat;
  margin-left: 10px;
  padding-top: 1px;
  padding-left: 22px;
  text-decoration: none;
}

/* TinyMce - list left thumbnail */
.list_left_thumbnail {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    h2 {
      padding: 0;
      margin: 0;
    }
    img {
      float: left;
      width: 210px;
      max-height: 260px;
      padding: 0 10px 0 0;
      margin: 0;
      @media (max-width: 375px) {
        width: 100%;
      }
    }
    clear: both;
    width: 100%;
    border-bottom: 1px solid #ececec;
    display: inline-block;
    padding: 0 0 10px 0;
  }
}
/* TinyMce - list right thumbnail */
.list_right_thumbnail {
  @extend .list_left_thumbnail;
  li {
    img {
      float: right;
      padding: 0 0 10px 10px;
    }
  }
}
