/* TNA image styles */

.image_caption_back {
    display:none;
    position:absolute;
    background-color: #111;
    opacity: .85;
    padding: 5px 10px;
    z-index: 5000;
    font-size: .9em;
    line-height: 1.6;
    color: #eee;
    text-align: right;
    min-width: 300px;
    float:right;
    right:15px;
    margin-left:15px;
    a:link,
    a:visited,
    a {
      color: $tna_yellow;
      &:hover {
        text-decoration:underline;
      }
    }
}
.eye_caption{
  position: absolute;
  margin-top: -50px;
  margin-right: 25px;
  z-index: 1000;
  right:0;
  width:38px;
  height:38px;
  background:$tna_eye_img_caption;
  padding: 5px;
  color: #FFFFFF;
  font-weight: bold;
  &:hover{
    background:$tna_eye_img_caption_hover;
  }
  &:focus {
    background-color: $tna_yellow;
    outline: 3px solid $tna_yellow_dark;
    color: $tna_dark;
  }
}

img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}
img.alignleft {
  float: left;
  margin: 0 1em 1em 0;

}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}