.mega-menu {
  background-color: $grey-mid-dark;
  color: #fff;
  padding: 1.6em 0;
  border-top: solid 2px #fff;
  a, a:active, a:visited {
    color: #fff;
  }
  a:hover {
    color: #ffffff;
    outline: 1px solid #ffffff;
  }
  a:focus {
    color: $dark;
    outline-color: $outline-dark-bg;

    &:hover {
      color: #fff;
      outline-color: #fff;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .sub-menu a {
    display: block;
    border-top: 1px solid #444;
    padding: 0.1em 0;
    margin: 0;
    line-height: 1.6;
    &:hover:focus {
      color: $tna_white;
    }
  }
  .imgContent a {
    border: 0;
    display: inline-block;
    padding: 0;
    &:hover {
      background: none;
      outline: 5px solid #ffffff;
    }
    &:focus {
      outline: 5px solid #ffffff;
    }
  }
  >ul {
    display: flex;
    flex-wrap: wrap;
    >li {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 30px;
      margin-bottom: 1em;
      line-height: 2;
      >a, >div {
        font-family: $heading_font;
        font-size: 1.3em;
        margin-bottom: 0.6em;
        line-height: 1.6;
        display: block;
      }
    }
  }
  .mobile-home-link {
    display: none;
  }
  @media (max-width: 992px ) {
    > ul > li {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  @media (max-width: 580px ) {
    > ul > li {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .mobile-home-link {
      display: block;
    }
  }
  @media only screen and (max-width : 480px) {
    > ul > li > ul.sub-menu {
      display: none;
    }
    .toggle-sub-menu:hover {
      text-decoration: underline;
    }
    > ul > li > a, > ul > li > div {
      background: url(../img/plus.png) 0 14px no-repeat;
      padding: 5px 5px 5px 22px;
      cursor: pointer;
      text-shadow: none;
    }
    > ul > li > a.expanded, > ul > li > div.expanded {
      background: url(../img/minus.png) 0 14px no-repeat;
    }
    > ul > li > a:focus {
      background: #FFF !important;
    }
    > ul > li > a:hover {
      background: #134571 !important;
      outline: 1px solid #fff;
      color: #fff
    }
    > ul > li > .toggle-sub-menu:focus {
      background: #FFF !important;
      outline: $outline-dark-bg solid 5px;
      color: #000000;
    }
    > ul > li > .toggle-sub-menu:hover {
      background: #134571 !important;
      outline: #fff solid 1px;
      color: #fff;
    }
    .mobile-home-link {
      display: block;
    }
  }
}
.js #nav {
  display: none;
}

#more-link[tabindex="0"] {
  text-decoration: underline;
}
