/* -------------------------- */
/* Old TNA styling ---------- */
/* -------------------------- */

/* Navigation --------------- */
nav {
  &#nav {
    padding: .5em 1em 1.5em;
    .col-sm-6 {
      @media (width: 768px) {
        width: 33%;
      }
    }
  }
}
/* Header --------------------*/
header {
  #mobileGlobalSearch {
    .input-group {
      padding:10px 0;
    }
    label{
        font-weight:normal;
        input[type="radio"]{
          margin:0 5px 0 5px;
        }
    }
    #changeDestination {
      padding-top: .5em;
    }
  }
}
/* Container ---------------- */
.container {
  @media (min-width: 1200px) {
    max-width: 1270px;
    width: 96.4%;
  }
  main{
    &#main{
      &.col-md-8{
        @media(width:768px){
          width:65%;
        }
      }
    }
  }
  aside {
    &#sidebar{
      &.col-md-4{
        @media(width:768px){
          width: 34.9%;
        }
      }
    }
  }
}

footer {
  &#footer {
    .containter {
      .row{

      }
    }
    .col-sm-6{
      @media (width: 768px) {
        width: 50%;
      }
    }
  }
}

.footer-col {
  @media (max-width:768px){
    margin:0 0 40px 0 !important;
  }
}

