.portal-landing {
  .banner {
    background: #ddd center center;
    background-size: cover;
    margin-bottom: 1.6em;
    h1 {
      display: inline-block;
      background-color: #fff;
      border: $grid_line;
      padding: 8px 34px;
      margin-bottom: 5em;
    }
    .portal-logo img {
      margin: 0 auto;
    }
  }
  .intro-content {
    margin-bottom: 3.2em;
    .entry-image {
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .intro-entry {
      border-top: $grid_line;
      padding-top: 0.6em;
    }
  }
  .tna-breadcrumb {
    margin: 0;
  }
  .breadcrumbs {
    display: inline-block;
    color: #fff;
    padding: 3px 7px;
    background-color: $col_blk;
    background-color: rgba(0,0,0,.5);
    a {
      color: $col_yellow;
    }
  }
  .stay-up-to-date-bar {
    padding: 0.4em 0;
    text-align: right;
    background-color: $col_green;
    span {
      margin-right: 1em;
    }
    a {
      display: inline-block;
      vertical-align: middle;
      height: 32px;
      .icon-circle {
        margin: 0;
      }
    }
  }
}