/* TNA template styles:
 - Default page
 - Level one
 - Level two (section landing)
 */
.container {
  max-width: 1240px;
  width: 100%;
}
.default-page {
  .entry-header {
    border-left: $grid-line;
    border-right: $grid-line;
    border-bottom: $grid-line;
    padding: 0.6em 1.6em;
    background: #fff;
    h1 {
      margin-top: 0;
    }
  }
  .entry-content {
    border-left: $grid-line;
    border-right: $grid-line;
    padding: 1.6em;
    background: #fff;
    margin-bottom: 1.6em;
    ul {
      li {
        margin-bottom: 0.6em;
      }
    }
  }
  .entry-content:after {
    display: block;
    content: '';
    background-color: #fff;
    height: 70%;
    width: 2px;
    position: absolute;
    bottom: 0;
    right: 15px;
  }
  aside {
    .sidebar-header {
      margin-bottom: 1.6em;
      h2 {
        margin-top: 0;
      }
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    .sidebar-contact {
      padding: 0;
    }
    .live-chat img {
      max-width: 100%;
      height: auto;
      width: 100%;
    }
    .live-chat div:first-of-type p {
      margin-bottom: 0.6em;
    }
    .live-chat div:last-of-type {
      margin-bottom: 1.5em;
    }
    .sidebar-item h3 {
      margin-top: 0;
    }
  }
  blockquote {
    margin: 0 0 1.6em -3.2em;
    @media (max-width: 1024px) {
      padding: 1.6em 2.4em;
      margin: 0 0 1.6em -2.4em;
      max-width: 100%;
    }
    @media (max-width: 992px) {
      padding: 1.6em;
      margin: 0 0 1.6em 0;
      max-width: 100%;
    }
  }
}
.level-one {
  .banner {
    min-height: 288px;
    position: relative;
    margin-bottom: 1.6em;
    .entry-header {
      border: $grid-line;
      padding: 7px 22px;
      margin: 34px 0 16px 34px;
      background-color: #fff;
      display: inline-block;
      h1 {
        margin: 0;
        @media (max-width: 480px) {
          font-size: 2em;
        }
      }
    }
    .entry-content {
      width: 100%;
      max-width: 720px;
      padding: 0 0 0 56px;
      margin: 0 1em 1em 0;
      h2, h3, h4, p {
        margin: 0;
      }
      .tag-line {
        font-family: $heading_font;
        display: inline-block;
        background-color: #fff;
        margin: 0;
        border: $grid-line;
        padding: 8px 14px;
      }
      .button {
        margin-top: -2px;
      }
    }
    @media (max-width: 480px) {
      .entry-header {
        margin: 16px 8px;
      }
      .entry-content {
        width: auto;
        padding: 0;
        margin: 0 8px;
      }
      .feature-img-caption {
        display: none;
      }
    }
  }
  .feature-img-bg {
    background-position: center center;
    background-size: cover;
  }
  // To be removed with template (page-level-1-landing.php)
  .box {
    margin-bottom: 1.6em;
    .feature-img-bg {
      min-height: 160px;
    }
    .entry-header {
      border-top: $grid-line;
      padding-top: 0.6em;
      margin-bottom: 1.6em;
      h2 {
        margin: 0;
      }
    }
    ul {
      padding: 0;
      list-style: none;
    }
  }
}
.level-two {
  .level-two-intro {
    .entry-header {
      margin-bottom: 1.6em;
      border-top: $grid-line;
      padding-top: 0.6em;
      h1 {
        margin: 0;
      }
    }
    .entry-content {
      margin-bottom: 1.6em;
    }
    .well {
      background-color: transparent;
      border: $grid-line;
      padding: 1.6em 1em;
      margin-top: -1.6em;
      p {
        margin: 0;
      }
    }
  }
  .level-two-card {
    margin-bottom: 3.2em;
    .entry-image {
      height: 128px;
      overflow: hidden;
    }
    .entry-header {
      margin-bottom: 1.6em;
      border-top: $grid-line;
      padding-top: 0.6em;
      h2 {
        margin: 0;
      }
    }
  }
}