/* TNA template styles */
.container {
  max-width: 1240px;
  width: 100%;
}
.standard-page {
  .entry-header {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 0.6em 1.6em;
    background: #fff;

    h1 {
      margin-top: 0;
    }
  }

  .entry-content {
    border-left: solid 2px #000;
    border-right: 2px solid #000;
    padding: 1.6em;
    background: #fff;
    margin-bottom: 1.6em;
  }

  .entry-content:after {
    display: block;
    content: '';
    background-color: #fff;
    height: 75%;
    width: 2px;
    position: absolute;
    bottom: 0;
    right: 15px;
  }

  aside {
    .sidebar-header {
      margin-bottom: 1.6em;

      h2 {
        margin-top: 0;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    .sidebar-contact {
      padding: 20px 0 20px 20px;
    }

    .live-chat img {
      max-width: 100%;
      height: auto;
      width: 100%;
    }

    .live-chat div:first-of-type p {
      margin-bottom: 0.6em;
    }

    .live-chat div:last-of-type {
      margin-bottom: 1.5em;
    }

    .sidebar-item h3 {
      margin-top: 0;
    }
  }
  blockquote {
    margin: 0 0 1.6em -3.2em;
    max-width: 680px;
    @media (max-width: 1024px) {
      padding: 1.6em 2.4em;
      margin: 0 0 1.6em -2.4em;
      max-width: 100%;
    }
    @media (max-width: 992px) {
      padding: 1.6em;
      margin: 0 0 1.6em 0;
      max-width: 100%;
    }
  }
}
.equal-heights {
  > div {
    background: white;
    background-clip: content-box;
    margin-bottom: 1.5em;
  }
  article {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0.5em;
  }
}

/* Level 1 landing template */

.level-one {
  .banner {
    min-height: 288px;
    position: relative;
    margin-bottom: 1.6em;
    .entry-header {
      border: $grid_line;
      padding: 8px 24px;
      margin: 34px 0 16px 34px;
      background-color: #fff;
      display: inline-block;
      h1 {
        margin: 0;
      }
    }
    .entry-content {
      width: 100%;
      padding: 0 0 0 56px;
      h2, h3, h4, p {
        margin: 0;
      }
      .tag-line {
        font-family: "Roboto Mono", monospace;
        display: inline-block;
        background-color: #fff;
        margin: 0;
        border: $grid_line;
        padding: 8px 14px;
      }
      .button {
        margin-top: -2px;
      }
    }
    @media (max-width: 480px) {
      .entry-header {
        margin: 16px 8px;
      }
      .entry-content {
        padding: 0;
        margin: 0 8px;
      }
    }
  }
  .feature-img-bg {
    background-position: center center;
    background-size: cover;
  }
}