/* TNA template styles */

/* Default template */

article {
  background-color: $tna_white;
  margin-bottom: 1.5em;
  .entry-header {
    padding: 10px 10px 0 0;
    background: $tna_dot_grey;
    h1 {
      font-size: 2em;
      padding: 4px 10px;
      background-color: $tna_blue;
      color: #fff;
      line-height: 1.25;
      margin: 0 10px 0 -10px;
      display: inline-block;
    }
    h2 {
      padding: 4px 32px 4px 10px;
      background-color: $tna_blue;
      color: #fff;
      line-height: 1.5;
      margin: 0 10px 0 -10px;
      display: inline-block;
      a {
        color: #fff;
        background-image:$tna_icon_24_link;
        background-repeat: no-repeat;
        background-position: 100% 50%;
        padding-right: 32px;
      }
    }
  }
  .entry-header:after {
    content: ' ';
    display: block;
    height: 10px;
    margin: 0 0 0 -10px;
    background: $tna_heading_flourish;
  }
  .entry-content {
    padding: 20px;
    .thumbnail {
      margin-bottom: 10px;
      border:none;
      padding:0;
    }
  }
}
.equal-heights {
  > div {
    background: white;
    background-clip: content-box;
    margin-bottom: 1.5em;
  }
  article {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0.5em;
  }
}

/* Level 1 landing template */

.level-one {
  .banner {
    height: 288px;
    position: relative;
    .entry-header {
      background: none;
    }
    .entry-content {
      overflow: hidden;
      position: absolute;
      bottom: 0;
      right: 0;
      background: #000;
      background: rgba(0,0,0,.66);
      color: #ddd;
      width: 100%;
      h2, h3 {
        margin-top: 0;
      }
      p {
        margin: 0;
      }
    }
  }
}