body {
  font-family: $tna_body_font;
  font-size: 16px;
  line-height: 1.6;
  h1, h2, h3, h4 {
    font-family: $tna_heading_font;
    font-weight: 400;
    z-index: 2;
    line-height: 1.6;
    letter-spacing: -.025em;
  }
  h1 {
    font-size: 2.4em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 1.16em;
  }
  p {
    margin: 0 0 1.6em;
  }
  ul {
    margin-bottom: 1.6em;
  }
  ul.no-bullet {
    list-style-type: none;
    padding: 0;
  }
  ul.sibling {
    list-style-type: none;
    padding: 0;
  }
  ul.child {
    list-style-type: none;
    padding: 0;
  }
  ul.documents, ul.urls {
    li {
      margin-bottom: 0.5em;
    }
    a {
      display: block;
    }
  }
  ul#menu-disc {
    padding: 0;
    li {
      list-style-type: none;
      margin: 0 4px 4px 0;
      display: inline-block;
      a {
        display: block;
        color: #fff;
        background-color: #000;
        text-align: center;
        border: $grid_line;
        font-size: 1.25em;
        line-height: 44px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
      a:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
  hr {
    height: 0;
    border: 0;
    margin: 1em 0;
    clear: both;
    width: 100%;
    border-bottom: $grid_line;
  }
  pre {
    display: block;
    padding: 1.6em;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 0;
  }
}
a, a:active, a:visited {
  color: $tna_link_col;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  background-color: $tna_yellow;
  outline: 3px solid $tna_yellow_dark;
  color: $tna_dark !important;
}