/* TNA fonts */
$tna_body_font: 'Open Sans', arial, sans-serif;
$tna_heading_font: 'Bitter', 'Open Sans', arial, serif;

/* TNA colours */
$tna_red: #cb0d07;
$tna_teal: #008484;
$tna_blue: #405480;
$tna_yellow: #fce45c;
$tna_light: #eee;
$tna_dark: #222;

