/* TNA fonts */
$tna_font_open_sans: 'Open Sans', verdana, arial, sans-serif;
$tna_font_bitter: 'Bitter', 'Open Sans', verdana, arial, sans-serif;

/* TNA colours */
$tna_palette_white: #fff;
$tna_palette_light_grey: #eee;

