language:
  - php
  - node_js

php:
  - 5.6

node_js:
  - 12.18.2

install:
  - composer require --dev phpunit/phpunit
  - npm install -g grunt-cli
  - npm install

script:
  - phpunit tests/FunctionTest.php
  - phpunit tests/CommentsTest.php
  - phpunit tests/TNAGlobalsTest.php
  - grunt qunit

notifications:
  slack:
    rooms:
      - tna-digital:C2GnodnLsxhwwGvr0xAcajzc#code-builds